* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

body {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
}

.input-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 10px;
    outline: none;
}

button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
}

.weather-info {
    text-align: center;
    margin-top: 20px;
}
